.dashboard-title {
    font-size: 25pt;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: rgb(37, 115, 167);
    border: 1px solid rgb(115, 188, 248); 
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 80px;  
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
}

.authors {
    position: absolute;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    left: 20px;
    top: 20px;
}

.tecnico-logo {
    position: absolute;
    width: 150px;
    right: 30px;
    top: 25px;
}

.video {
    margin-left: 5%;
    float: left;
    width: 500px;
}

.controls {
    float: right;
    margin-right: 10%;
    margin-top: 50px;
    width: 300px;
    height: 300px;
    margin-bottom: 50px;
}

.top-button {
    text-align: center;
    height: 100px;
}

.left-right-buttons {
    height: 100px;
}

#left {
    float: left;
}

#right {
    float:right;
}

#stop {
    float:center;
}

.button {
    background-color: rgb(255, 255, 255);
    border: none;
}

.backward-btn {
    text-align: center;
}

.footer {
    position: relative;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    bottom: 3;
    margin-left: 3px;
    padding: 6px;
    width: 98%;
    height: 50px;
    border: 1px solid rgb(115, 188, 248); 
}

@media only screen and (max-width: 1100px) {
    .dashboard-title {
        font-size: 18pt;
        padding: 10px;
        margin-bottom: 40px;  
        margin-top: 10px;
        margin-left: 20%;
        margin-right: 20%;
    }
}

@media only screen and (max-width: 800px) {
    .dashboard-title {
        font-size: 18pt;
        padding: 10px;
        margin-bottom: 40px;  
        margin-top: 10px;
        margin-left: 20%;
        margin-right: 20%;
    }

    .video {
    float: center;
    width: 500px;
    }

    .controls {
    float: center;
    margin-top: 20px;
    width: 300px;
    height: 300px;
    margin-bottom: 30px;
    }

    .top-button {
    text-align: center;
    height: 60px;
    }

    .left-right-buttons {
    height: 60px;
    }
}
