.dashboard-title {
    font-size: 25pt;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: rgb(37, 115, 167);
    border: 1px solid rgb(115, 188, 248); 
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;  
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
}

.authors {
    position: absolute;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    left: 20px;
    top: 15px;
}

.tecnico-logo {
    position: absolute;
    width: 150px;
    right: 30px;
    top: 25px;
}

.tecnico-logo-mobile {
    display: none;
}

.video {
    margin-left: 5%;
    float: left;
    width: 600px;
}

.controls {
    float: right;
    margin-right: 10%;
    margin-top: 50px;
    width: 350px;
    height: 300px;
    margin-bottom: 50px;
}

.button_img:active {
    transform: scale(1.2);
}

.top-button {
    text-align: center;
    height: 100px;
}

.left-right-buttons {
    display: flex;
    text-align: center;
    height: 100px;
}

.middle_button {
    flex: 33.33%;
}

.button {
    background-color: rgb(255, 255, 255);
    border: none;
}

.backward-btn {
    text-align: center;
}

#logout-button {
    position: relative;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    bottom: 3;
    float: center;
    border: 2px solid rgb(115, 188, 248); 
    padding: 2px;
    border-radius: 10px;
    width: 100px;
    height: 30px;
}

.footer {
    position: relative;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    bottom: 3;
    margin-left: 3px;
    padding: 6px;
    width: 98%;
    height: 40px;
    line-height: 10px;
    border: 2px solid rgb(115, 188, 248); 
}

@media only screen and (max-width: 1100px) {
    .dashboard-title {
        font-size: 18pt;
        padding: 10px;
        margin-bottom: 40px;  
        margin-top: 10px;
        margin-left: 20%;
        margin-right: 20%;
    }
}

@media only screen and (max-width: 800px) {
    .dashboard-title {
        font-size: 16pt;
        padding: 10px;
        margin-bottom: 40px;  
        margin-top: 10px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .tecnico-logo {
        display: none;
    }

    .tecnico-logo-mobile {
        width: 60px;
        display: relative;
        text-align: center;
    }

    .authors {
        position: relative;
        font-size: 13px;
        text-align: center;
        line-height: 8px;
        margin-bottom: 20px;
    }

    .video {
        float: center;
        width: 350px;
        margin-left: 2%;
    }

    .controls {
        margin-left: 200px;
        margin-top: 20px;
        height: 300px;
        margin-bottom: 30px;
    }
}
