<html>
  <head>
    <title>Alphabot</title>
    <style>
        .dashboard-title {
            font-size: 20pt;
            color: rgb(37, 115, 167);
        }

        .video {
          float: right;
        }
        
        .controls {
          float: left;
        }
        
        .forward-btn {
        
        }
        
        .left-btn {
        
        }
        
        .right-btn {
        
        }
        
        .backward-btn {
        
        }
    </style>
  </head>
  <body>
    <div class="dashboard-title">Alphabot Control Dashboard</div>

    <div class="video">
      <img src="{{ url_for('video_stream.video_feed') }}" width="40%">
    </div>
    
    <div class="controls">
        <div class="forward-btn">
          <img src="../static/up.png">
        </div>

        <div class="left-btn">
          <img src="../static/left.png">
        </div>

        <div class="right-btn">
          <img src="../static/right.png">
        </div>

        <div class="backward-btn">
          <img src="../static/down.png">
        </div>
    </div>
    
  </body>
</html>